.env
dataset
doc/Interim Report/out/*
!doc/Interim Report/out/*.pdf

doc/Final Report/out/*
!doc/Final Report/out/*.pdf
*.FCStd1
__pycache__
datasets
dataset-backup
FYP-YOLO
test/
wandb/
photos
logs
runs

yolov8*.pt
profiles