.kanbn-task-tag-stage-1 {
    background-color: rgb(109, 85, 182);
    color: rgb(245, 245, 245);
}

.kanbn-task-tag-vision {
    background-color: rgb(69, 143, 175);
    color: rgb(245, 245, 245);
}

.kanbn-task-tag-mechanics {
    background-color: rgb(215, 72, 1);
    color: rgb(245, 245, 245);
}

.kanbn-task-tag-logistics {
    background-color: rgb(182, 85, 172);
    color: rgb(245, 245, 245);
}

.kanbn-column-blocked .kanbn-column-task-list {
    border-color: rgb(255, 0, 0);
}